version: "3.8"
services:
  backend:
    build:
      context: ./backend
      dockerfile: ../docker/backend.Dockerfile
    container_name: pepcoach_backend
    restart: unless-stopped
    env_file: .env
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend.Dockerfile
    container_name: pepcoach_frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend
